/***********************************************************************                                                                                                                                                         
                                                                                                    
   Theme Name:      pbf_servo_child_theme
   Description:     Palm Bay Ford Service Center Template
   Version:         0.1
   Author:          AMSI
   Template:        servo

***********************************************************************/

/**  //////////  PALATE  //////////
BRAND - #2d96cd
BRAND-MED - #fff
BRAND-DARK - #8a1232
PRIMARY - #00b4f1
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/

/* A/B TEST CLASSES */
.schedule-cta-test-01 {};

/** GENERAL **/
.bg-main { background-color: #2d96cd ; color: #fff; }
.bg-main-med { background-color: #fff; }
.coupon ul { padding-left: 22px; list-style: disc; text-align: left; }
.entry-content ul { list-style-type: disc; }
.entry-content ul li { padding-bottom: 3px; }
.entry-content ul.list-unstyled, .entry-content ul.fa-ul { list-style-type: none; }

/** TYPOGRAPHY **/
blockquote { border-color: #2d96cd ;  }
.fa-ul .fa.fa-check { color: #38B265; }
/** LINKS **/
a, a.list-group-item, a.list-group-item:focus, a.list-group-item:hover { color: #2d96cd ; }
a:focus, a:hover { color: #eff; }
.btn-main { background-color: #176db7 ; border-color: #176db7; }
.btn-main:hover, .btn-secondary { background-color: #11528a; border-color: #11528a; }
.btn-secondary:hover, .btn-secondary:focus { background-color: #8a1232; border-color: #8a1232; }
.btn-main-outline { background-color: transparent; border-color: #2d96cd ; color: #2d96cd ; }
.btn-main-outline:focus, .btn-main-outline:hover { background-color: #2d96cd ; border-color: #2d96cd ; color: #fff; }
.btn-success, .btn-success-outline:focus, .btn-success-outline:hover { background-color: #38B265; border-color: #38B265; }
.btn-success:focus, .btn-success:hover { background-color: #0B8237; border-color: #0B8237; }
.btn-success-outline { background-color: transparent; border-color: #38B265; color: #38B265; }
.dropdown-menu { border-bottom: #176db7 5px solid; }
.text-main { color: #2d96cd ; }
.text-primary { color: #00b4f1; }
/* NAV */
nav.navbar.navbar-default { border-top: #ddd 0px solid!important; margin-bottom: 0; background-color: #fff!important;}
.navbar-default .navbar-nav>li>a { color: #2d96cd!important; }

/** HEADER **/
header .larger { color: #fff ; }
header.pad-vert-2x.hidden-xs { background-color: white!important }
/** FOOTER **/
/*footer { border-top: #1b394e  10px solid; }*/
button.close { color: #2d96cd ; }
/** HOME **/
.oem blockquote { border-color: #2d96cd ; }
/** ONE TO ONE **/
#one-to-one .round { margin: 0 auto 1rem; padding: 1.2rem 0 0; }
#one-to-one h4 { font-weight: 700; margin: 0; }
/** CARFAX **/
h1.carfax-txt, h2.carfax-txt, h3.carfax-txt, h4.carfax-txt { color: #3777bc; }
.carfax-bodytxt { color: #2d96cd; }
.carfax-btn, .carfax-btn-alt { color: white; background-color: #f58d17; border-color: #f58d17; font-weight: bold; }
.carfax-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.carfax-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }
/** CARFAX BANNER **/
#carfax-banner > section.header { background-color: #0085ba; }
/** COUPON **/
.coupon { border-color: #2d96cd ; color: #2d96cd ; }
.coupon .disclaimer { border-color: #2d96cd ; color: #2d96cd; }
/* MBRACE */
h1.mbrace-txt, h2.mbrace-txt, h3.mbrace-txt, h4.mbrace-txt { color: #6d6c6c; }
.mbrace-bodytxt { color: #2d96cd; }
.mbrace-btn, .mbrace-btn-alt { color: white; background-color: #176db7; border-color: #176db7; font-weight: bold; }
.mbrace-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.mbrace-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }

/**  //////////  SMALL  //////////  **/
@media only screen and (min-width : 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a { background-color: #2d96cd ; border-color: #2d96cd ; color: #fff; }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover { background-color: #fff; border-color: #fff; }
    .navbar-default .navbar-nav>li>a { color: #fff!important; }
    /** STAFF **/
    #staff .bio { min-height: 395px; margin-bottom: 1rem; }
}

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

ul.nav.navbar-nav.navbar-right.hidden-xs { background-color: #d22138!important; border-color: #d22138!important;}
ul.nav.navbar-nav.navbar-right.hidden-xs>li>a{color: #ffffff!important;}

@media (min-width: 768px) { .navbar-right { margin-right: 0px!important; } }


/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

/*--------------------------------------------------------------
# CHILD THEME DEFAULTS
--------------------------------------------------------------*/

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
  /** STAFF **/
  #staff .bio { min-height: 435px; }
}

/**  //////////  STORE SPECIFIC  //////////  **/
/** BACKGROUNDS **/
#service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-xs.jpg'); }
#batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg'); }
#contact > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/uploads/sites/47/2017/07/contact414x368.jpg'); }
#faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-xs.jpg'); }
#home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-xs.jpg'); }
#home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/uploads/sites/47/2017/07/homepage414x368.jpg'); }
#learning-center > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/uploads/sites/47/2017/07/homepage414x368.jpg'); }
#carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-xs.jpg'); }
.local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/uploads/sites/47/2017/07/locally-owned768x278.jpg'); }
.usp-2 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg'); }
.usp-9 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg'); }
.usp-16 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg'); }
.usp-17 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg'); }
#maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-xs.jpg');background-size: cover;}
#batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg'); }
#one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-xs.jpg'); }
#tires> section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-xs.jpg'); background-size: cover;}
#oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-xs.jpg'); background-size: cover;}
#brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg'); background-size: cover;}
#warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-xs.jpg'); background-size: cover;}
#owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-xs.jpg'); background-size: cover;}
#roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-roadside-assistance-xs.jpg);background-size: cover;}

/** ///// SMALL ///// **/
@media only screen and (min-width : 768px) {
  /** BACKGROUNDS **/
  #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-sm.jpg'); }
  #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-sm.jpg'); }
  #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/uploads/sites/47/2017/07/contact768x512.jpg'); }
  #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-sm.jpg'); }
  #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-sm.jpg'); }
  #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/uploads/sites/47/2017/07/homepage768x512.jpg'); }
  #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg'); }
  #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-sm.jpg'); }  #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-sm.jpg');background-size: cover;}
  .local {  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/uploads/sites/47/2017/07/locally-owned1920x310.jpg'); }
  #tires > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-sm.jpg');background-size: cover;}
  #oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-sm.jpg'); background-size: cover;}
  #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg'); background-size: cover;}
  #one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-sm.jpg'); }
  #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-sm.jpg'); background-size: cover;}
  #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-sm.jpg'); background-size: cover;}
  #roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-roadside-assistance-sm.jpg);background-size: cover;}
}

/** ///// MEDIUM ///// **/
@media only screen and (min-width : 992px) {
  /** BACKGROUNDS **/
  #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-md.jpg'); }
  #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-md.jpg'); }
  #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/uploads/sites/47/2017/07/contact1024x384.jpg'); }
  #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-md.jpg'); }
  #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-md.jpg'); }
  #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/uploads/sites/47/2017/07/homepage1024x384.jpg'); }
  #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg'); }
  #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-md.jpg'); }
  #one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-md.jpg'); }
  #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-md.jpg');background-size: cover;}
  #tires > section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-md.jpg');background-size: cover;}
  #oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-md.jpg'); background-size: cover;}
  #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg'); background-size: cover;}
  #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-md.jpg'); background-size: cover;}
  #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-md.jpg'); background-size: cover;}
  #roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url(/wp-content/themes/servo/assets/bg-roadside-assistance-md.jpg);background-size: cover;}
}

/** ///// LARGE ///// **/
@media only screen and (min-width : 1200px) {
  /** BACKGROUNDS **/
  #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-lg.jpg'); }
  #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/uploads/sites/47/2017/07/contact1920x453.jpg'); }
  #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-lg.jpg'); }
  #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-lg.jpg'); }
  #home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/uploads/sites/47/2017/10/homepage1920x453.jpg'); }
  #learning-center > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg'); }
  #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-lg.jpg');background-size: cover;}
  #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-lg.jpg'); background-size: cover;}
  #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-lg.jpg'); background-size: cover;}
}

#service > section.header, #batteries > section.header, #contact > section.header, #home > section.header, #home .oem, #learning-center > section.header, #one-to-one > section.header, #service section.rewards, #faq > section.header, #carfax > section.header,  .local, section.header, #maintenance >section.header, #brakes>section.header  { background-position: center; background-size: cover; border: 0; color: #fff; }

/**  //////////  PLEASE ADD OVERRIDES BELOW THIS LINE  //////////  **/

.bg-main-med {
    background-color: #2d96cd;
}

.bg-main-drk {
    background-color: #1b394e;
}

footer .bg-main-drk, footer .bg-main-drk a {
  color: #fff;
}

footer .bg-main-drk a:hover {
  color: #2d96cd;
}

@media only screen and (min-width: 1001px) {
    section.text-center.coupons {
        background-color: #f5f5f5!important;
    }

}

@media only screen and (min-width: 767px) {
    nav.navbar.navbar-default {
        border-top: #ddd 0 solid!important;
        margin-bottom: 0;
        background-color: #2d96cd!important;
    }
}

.navbar-nav .open .dropdown-menu {
    background: #1b394e!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff!important;
    background-color: #11528a!important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #2d96cd!important;
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    color: #2d96cd!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #333!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
}

.navbar-default .navbar-toggle {
    border-color: #2d96cd;
}

.btn-primary-outline:focus, .btn-primary-outline:hover, .btn-primary:active, .btn-primary:active.btn-primary:focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #2d96cd;
    border-color: #2d96cd;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #11528a!important;
    border-color: #11528a!important;
}

.btn-primary {
     border-color: transparent;
}

.nav_parts > a::before {
    content: "";
}

section.text-white.oem {
    background-color: #176db7;
}

section#whybuyvideo {
    background-color: #333;
}

section.bg-ase {
  background-color: #2d96cd;
}

a.mainsitecta { background-color: #1b394e; }
a.mainsitecta:hover { background-color: #11528a!important; }

.btn {
  border-radius: 0;
}

a.btn.btn-block.btn-primary.schedule-cta-test-01 {
  background-color: #1b394e;
}

a.btn.btn-block.btn-primary.schedule-cta-test-01:hover {
  background-color: #fff!important;
  border-color: transparent!important;
  color: #2d96cd!important;
}

.btn.btn-block.btn-secondary {
  background-color: #2d96cd;
  border: #2d96cd 1px solid;
}

.btn.btn-block.btn-secondary:hover {
  background-color: #176db7;
  border: #2d96cd 1px solid;
}

.btn-white-outline {
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
}

.btn-white-outline:hover {
    background-color: #2d96cd;
    border: #2d96cd 1px solid;
    color: #fff;
}

a.btn.btn-block.btn-white-outline {
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
}

a.btn.btn-block.btn-white-outline:hover {
    background-color: #176db7;
    border: transparent;
}

a.btn.btn-block.btn-white-outline.schedule-cta-test-01 {
  display: none;
  background-color: #343434;
  color: #fff;
}

a.btn.btn-block.btn-white-outline.schedule-cta-test-01:hover {
  background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff!important;
}

.navbar-default .navbar-toggle {
     border-color: transparent;
}

input#gform_submit_button_1 {
  background-color: #176db7;
  border: #2d96cd 1px solid;
  border-radius: 0!important;

}

#gform_submit_button_1:hover {
  background-color: #2d96cd;
  border: #2d96cd 1px solid;

}

footer a {
  font-weight: 400;
}

a:hover {
  color: #176db7;
}

section.alt-bg {
  background-color: #2d96cd;
  color: #fff;
}

